.description {
  text-align: left;
  opacity: 75%;
}

.title {
  text-align: center;
  text-transform: uppercase;
}

.example_title {
  text-align: left;
  font-weight: bold;
}

.box_container {
  display: flex;
  justify-content: space-between;
  width: 45%;
}

.box_suggestion {
  text-align: left;

  opacity: 75%;
}

.content_color_black {
  color: #000;
}

.content_color_white {
  color: #fff;
}

@media only screen and (max-width: 600px) {
  .box_container {
    width: 65%;
  }
  .description {
    line-height: 1.2;
    font-size: 0.8rem;
    padding-bottom: 0.5rem;
  }
  .title {
    padding-bottom: 0.6rem;
    font-size: 1rem;
  }
  .example_title {
    margin: 0.5rem 0;
  }
  .box_suggestion {
    margin: 0.4rem 0;
    font-size: 0.8rem;
  }
}

@media only screen and (min-width: 600px) {
  .box_container {
    width: 45%;
  }
  .description {
    margin-right: 1rem;
    padding-bottom: 1rem;
    line-height: 1.5;
  }
  .title {
    padding-bottom: 1rem;
  }
  .example_title {
    margin: 1rem 0;
  }
  .box_suggestion {
    margin: 0.75rem 0;
  }
}
