* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  text-align: center;
  display: grid;
  justify-items: center;
  min-height: 100vh;
  line-height: 1;
}

.dark {
  background-color: #1e1e20;
}
