.tile_container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  font-weight: bold;
  border: 2px solid rgb(209 213 219);
}

@media only screen and (max-width: 600px) {
  .tile_container {
    border-radius: 2px;
    width: 2rem;
    height: 2rem;
    font-size: 1rem;
  }
}

@media only screen and (min-width: 600px) {
  .tile_container {
    border-radius: 4px;
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
  }
}

.tile_white_color {
  color: #fff;
}

.tile_dark_color {
  color: #000;
}

.tile_correct {
  color: #fff;
  background-color: rgb(16 185 129);
  animation: 0.5s linear flipping;
}

.tile_exist {
  color: #fff;
  background-color: rgb(245 158 11);
  animation: 0.5s linear flipping;
}

.tile_notexist {
  color: #fff;
  background-color: rgb(113 113 122);
  animation: 0.5s linear flipping;
}

.tile_notexist_dark {
  color: #fff;
  background-color: rgb(55 65 81);
  animation: 0.5s linear flipping;
}
@keyframes flipping {
  0% {
    transform: rotateX(0deg);
  }
  50% {
    transform: rotateX(90deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}
